# -------- Python --------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------- Virtual Environments --------
mp_env/
fr_env/
venv/
.env/

# -------- OS files --------
.DS_Store
Thumbs.db

# -------- IDE --------
.vscode/
.idea/

# -------- Runtime Data --------
attendance/*.xlsx
temp_faces/
embeddings/*.pkl

# -------- Logs --------
*.log
